body{
    background-color: black;
}
.pr{
    background-attachment: fixed;
    height: 450px;
}

.part{
    text-align: center;
    background-color: black;
    box-sizing: border-box;
    height:200px;
    padding-top:60px;
    font-size: 40px;
    color:yellow;

}
.sp{
    height:50px;
}
.txt:hover{
    color:lime;
    font-weight: bold;
    cursor: default;
}









.bg1{
    background-image: url("asm.jpg");
}
.bg2{
    background-image: url("asmd.jpg");
}
.bg3{
    background-image: url("pur.jpg");
}
