html{
    scroll-behavior: smooth;

}
body{
    box-sizing: border-box;
    margin:0;
    background-color: black;
}
.nav{
    height: 90px;
    background-color: black;
    text-align: center;
    box-sizing: border-box;
}

.con{
    margin:0 40px;
    padding:15px 5px 0 5px;
    display: inline-block;
    color:orange;
    font-size: 20px;
    height:40px;
}
.con:hover{
    background-color: rgba(179, 174, 174, 0.279);
    cursor: pointer;
}
.cons{
    direction: rtl;

    padding:20px 0;
}
.imhead{
    background-attachment: fixed;
    box-sizing: border-box;
    background-image:url("imgs/strm.jpg");
    background-color: gray;
    background-blend-mode:color-burn;
    background-size: contain;
    background-position: center;
    height: 100vh;
    text-align: center;
    margin:0;
    
}
.title1{
    margin-top: 45vh;
    display: inline-block;
    font-size:45px;
    direction: rtl;
    font-weight: bold;
}
.st1{
    display:inline;
    color:white;
}
.st2{
    display: inline;
    color:orange;
    font-size:60px;    
}
.st1:hover{
    cursor: default;
}
.st2:hover{
    color:red;
    cursor: default;
}
.screen2{
    background-color: lightgray;
    height: 100vh;
    box-sizing: border-box;
    padding:50px;
    text-align: center;
}
.headgroup{
    display: flex;
    justify-content: center;
    margin-top:80px;
    box-sizing: border-box;
}

.title2{
    color:blue;
    text-shadow: 2px 2px black;
    font-size: 30px;
    font-weight: bold;
}
.title2:hover{
    cursor:default;
    text-shadow: 3px 3px black;
}
.ozv{
    border:2px solid black;
    display: inline-block;
    width: 400px;
    height: 450px;
    margin:0 20px;
    box-sizing: border-box;
    margin-top: 0;
    transition: background-color 0.3s ease, transform 0.3s ease; /* انیمیشن نرم برای تغییر رنگ و اندازه */}
.ozv:hover{
    background-color: rgba(0, 0, 0, 0.1); /* رنگ تیره‌تر هنگام hover */
    transform: scale(1.05); /* بزرگ‌تر شدن به اندازه 5% */
}
.img{
    width: 395px;
    height: 200px;
}
.ozvname{
    margin-top:30px;
    font-weight: bold;
    font-size: 20px;
    display: block;
}
.ozvtxt{
    padding:20px;
    text-align: right;
    display: block;
}
.screen3{
    background-color: rgb(71, 68, 68);
    background-blend-mode:color-burn;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    background-image: url("imgs/amobig.webp");
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
    padding:40px;
}
.cir{
    
    display: inline-block;
    background-color: rgba(162, 156, 156, 0.297);
    width: 50vw;
    height: 90vh;
    border-radius: 50%;
    padding:40px;
    box-sizing: border-box;
}
.cir .title {
    font-size: 40px;
    font-weight: bold;
    color:white;

}
